      <!-- <footer>
                <div class="footer-container">

                    <div class="footer-sections">
                        <img src="images/nav-logo.webp" alt="nav-logo" class="logo">
                        <div class="social-icons">
                            <a href="#"><img src="/images/facebook.webp" alt="facebook" width="30" height="30"></a>
                            <a href="#"><img src="/images/linkedin.webp" alt="linkedin" width="30" height="30"></a>
                            <a href="#"><img src="/images/twitter.webp" alt="twitter" width="30" height="30"></a>
                            <a href="#"><img src="/images/youtube.webp" alt="youtube" width="30" height="30"></a>
                            <a href="#"><img src="/images/instagram.webp" alt="instagram" width="30" height="30"></a>
                        </div>
                    </div>


                    <div class="footer-section">
                        <div class="address">
                            <h3>Head Office:</h3>
                            <p>Plot No - 02, Next to Fresh Fisheries company, Soni Complex, Kopri Colony Road,
                                Shilphata-Thane 400612</p>
                        </div>
                        <div class="address">
                            <h3>Branch Office:</h3>
                            <p>B-107, Shahyadi Castle Near Bilal Hospital, Kausa, Mumbra, Thane, Maharashtra 400612</p>
                        </div>

                        <p class="tel-p">Tel: +91373 79625</p>

                    </div>

                    <div class="contact-section">
                        <div class="contact-div">
                            <img src="/images/contact.webp" alt="contact">
                            <div class="contact-p">
                                <p class="contact-ptag">+91 98321 55890</p>
                                <p class="contact-ptag">+91 88560 70005</p>
                                <p class="contact-ptag">+91 86555 87403</p>
                            </div>
                        </div>
                        <div class="email-div">
                            <img src="/images/email-p.webp" alt="email">
                            <div class="contact-email">
                                <p class="contact-etag">sales@ascentab.com</p>
                                <p class="contact-etag">asprefab@gmail.com</p>
                            </div>
                        </div>
                    </div>


                    <div class="footer-section">


                        <form id="quote-form" onsubmit="handleFormSubmit(event, 'quote-form')" class="contact-form">
                            <h3 class="footer-form-heading">Get a Free Quote!</h3>

                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" placeholder="Enter name" required maxlength="50"
                                oninput="this.value=this.value.replace(/[^a-zA-Z\s]/g,'')"
                                onblur="validateName('quote-form')">
                            <span id="nameError" class="error-message none"></span>

                            <label for="phone">Phone</label>
                            <input type="tel" id="phone" name="phone" placeholder="(88) 8888 88888" required
                                maxlength="12" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                onblur="validatePhone('quote-form')">
                            <span id="phoneError" class="error-message none"></span>

                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="Enter email" required
                                onblur="validateEmail('quote-form')">
                            <span id="emailError" class="error-message none"></span>

                            <button type="submit" class="show-dialog">Get Quote</button>
                        </form>

                    </div>
                </div>


                <div class="bottom-bar">
                    <p>© 2023 Ascent Porta Solutions. All rights reserved.</p>
                    <p>Developed by <b class="sovorun">Sovorun</b></p>
                </div>
            </footer> -->
